//- variable for title
- var pageTitle = "title gulp yo"

//- variable for meta tag description
- var metaDesc = "gulp test"

//- switcher for jQuery
- var jQuery = true

//- switcher for semantic-ui
- var semantic = false

//- switcher for throttle
- var throttle = true

//- switcher for throttle
- var jquery_ui = true

//- switcher for throttle
- var skel = true
