//- variable for title
- var pageTitle = "title gulp yo"

//- variable for meta tag description
- var metaDesc = "gulp test"

//- switcher for jQuery
- var jQuery = true

//- switcher for semantic-ui
- var semantic = true

//- switcher for throttle
- var throttle = true

//- switcher for throttle
- var jquery_ui = true

//- switcher for skel
- var skel = true

//- switcher for owl
- var owl = true

//- switcher for scrolly
- var scrolly = true

//- switcher for scrollex
- var scrollex = true

//- switcher for jquery_knob
- var jquery_knob = false

//- switcher for jquery_knob
- var circle_progress = true
