//- mixin navlinks(item)
//-   - var linkatts = item.link
//-   - var navtitle = item.title
//-   a(href= linkatts)= navtitle


//- mixin navmanu(manu_items)
//-   .navmanu
//-     ul
//-       each top_item in manu_items
//-         li
//-           +navlinks(top_item)
//-           if top_item.child
//-             ul
//-               each child_item in top_item.child
//-                 li
//-                   +navlinks(child_item)

//- block navigation
  //-   +navmanu([
  //- {"title": "one", "link": "one.html"},
  //- {"title": "two", "link": "two.html",
  //-  "child": [
  //-  {"title": "mini1", "link": "mini1.html"},
  //-  {"title": "mini2", "link": "mini2.html"},
  //-  {"title": "mini3", "link": "mini3.html"}
  //-  ]
  //- },
  //- {"title": "three", "link": "three.html"}
  //- ])
header
  //- nav#menu.pointing.ui.teal.menu.fluid.four.item.secondary
  //-   a.item.active(href="#")
  //-     i.home.icon
  //-     | Home
  //-   a.item(href="#about")
  //-     i.coffee.icon
  //-     | About
  //-   a.item(href="#portfolio")
  //-     i.tasks.icon
  //-     | Portfolio
  //-   a.item(href="#ontact")
  //-     i.user.icon
  //-     | Contact
  //- #m_btn.ui.icon.button.teal
  //-   i.list.layout.icon
  
  .container
    .row
      .12u 
        .x Twelve
    .row
      .8u(class='12u(small)')
        .x eight
      .4u(class='12u(small)')
        .x four
    .row
      .8u(class='12u(xsmall)')
       .row
        .6u(class='12u(small)')
          .x second eight
        .6u(class='12u(small)')
          .x second eight
      .4u(class='12u(xsmall)')
        .row
          .6u(class='12u(small)')
            .x second four
          .6u(class='12u(small)')
            .x second four
    .row
      .3u(class='6u(xsmall)')
        .x three
      .3u(class='6u(xsmall)')
        .x three
      .3u(class='6u(xsmall)')
        .x three
      .3u(class='6u(xsmall)')
        .x three