nav#m_menu.ui.vertical.pointing.menu.teal.sidebar.large
  a.item.active(href="#")
    i.home.icon
    | Home
  a.item(href="#about")
        i.coffee.icon
        | About
  a.item(href="#portfolio")
    i.tasks.icon
    | Portfolio
  a.item(href="#contact")
    i.user.icon
    | Contact